<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script>
      sessionStorage.clear();
      sessionStorage.siteName = "<%= siteName %>";
      sessionStorage.logo = "<%= logo %>";
      sessionStorage.logoWhite = "<%= logoWhite %>";
    </script>
  </head>
  <body>
    <h1 class="title"></h1>
    <img class="site-logo" src="">
    <p>A Public Company</p>
    <p>Content <%= content %></p>
  </body>

  <script type="text/javascript" src="/javascripts/site_helpers.js"></script>
</html>
